.template {
	background-color: #f1f1f1;
}
#steps {
	background-color: white;
	padding-top: 15px;
	padding-bottom: 5px;
	padding-left:50px;
}
#steps ol {
	padding: 0px;
	width: 100%;
}
#steps ol li
{
	display:inline-block;
	list-style-type: none;
	width: 20%;
	white-space: nowrap;
}
.step-circle {
	display:inline-block;
	border: 1px black solid;
	border-radius: 50%;
	vertical-align: middle;
	text-align: center;
	width: 50px;
	height: 50px;
	line-height: 50px;
}
.checked {
	background-color: green;
	color: white;
}
.done {
	color: green;
}
.in-progress {
	color: black;
	border-color: black;
}
.future {
	color: lightgray;
	border-color: lightgray;
}
.step-title {
	margin-left: 1px;
}
.form-title {
	padding-top: 15px;
	padding-bottom: 15px;
}
.form-section {
	background-color: white;
	padding: 15px;
	margin-bottom: 15px;
}
.btn-green {
	background-color: green;
	border-radius: 3px;
	border-color: green;
}
#access-list {
	width: 100%
}
#access-list th {
	background-color: lightblue;
}